- content_for :head do
	= stylesheet_link_tag 'structure'

- content_for :body do
	.center 
		.header-container
			.container.left
				%h1 Structure
				%p Find out more about how to get involved!
		#structure-cards
		#structure-data{data: @data}
		= javascript_pack_tag 'structure_carousel'
